<!DOCTYPE html>
<html lang="zh">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" /> -->
    <!-- google icon + font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <aside class="aside-bar bg-light py-5">
      <div class="logo px-5 mb-5 "><img src="./assets/images/logo.svg"></div>
      <div class="nav-wrap px-5">
        <ul class="nav flex-column">
          <li class="nav-item <%= current == 'dashboard' ? 'active': '' %>"> 
            <a class="nav-link  d-flex align-items-center px-0 py-4 <%= current == 'dashboard' ? 'text-primary': 'text-dark' %>" href="javascript:void(0)"><i class="material-icons me-4">insert_chart</i>Dashboard</a>
          </li>
          <li class="nav-item <%= current == 'question' ? 'active': '' %>">  
            <a class="nav-link  d-flex align-items-center px-0 py-4 <%= current == 'question' ? 'text-primary': 'text-dark' %>" href="javascript:void(0)"><i class="material-icons me-4">forum</i>Question</a>
          </li>
          <li class="nav-item <%= current == 'assignment' ? 'active': '' %>">
            <a class="nav-link  d-flex align-items-center px-0 py-4 <%= current == 'assignment' ? 'text-primary': 'text-dark' %>" href="./assignment.html"><i class="material-icons me-4"> assignment </i>Assignment</a>
          </li>
          <li class="nav-item <%= current == 'course' ? 'active': '' %>">    
            <a class="nav-link  d-flex align-items-center px-0 py-4 <%= current == 'course' ? 'text-primary': 'text-dark' %>" href="javascript:void(0)"><i class="material-icons me-4">video_library</i>Course</a>
          </li>
          <li class="nav-item <%= current == 'admin' ? 'active': '' %>">     
            <a class="nav-link  d-flex align-items-center px-0 py-4 <%= current == 'admin' ? 'text-primary': 'text-dark' %>" href="./admin.html"><i class="material-icons me-4">people</i>Admin</a>
          </li>
          <li class="nav-item <%= current == 'settings' ? 'active': '' %>">  
            <a class="nav-link  d-flex align-items-center px-0 py-4 <%= current == 'settings' ? 'text-primary': 'text-dark' %>" href="javascript:void(0)"><i class="material-icons me-4">settings</i>Settings</a>
          </li>
        </ul>
      </div>
      <div class="user pt-4 px-5 bg-light">
        <div class="d-flex align-items-center">
          <div class="user-img p-0 me-4">
            <img class="rounded-circle" src="./assets/images/user01.jpg">
          </div>
          <div class="user-content">
            <p class="m-0 text-dark">Andy Chen</p>
            <p class="m-0 subtitle">andy0401@mail.com</p>
          </div>
        </div>
      </div>
    </aside>

    <main class="main-container">
      
      <%- contents %>
    </main>

    <!-- CKeditor套件 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>